.pull-right {
  float: right;
}

.fa {
  width: 16px;
}

.custom-control {
  width: 100%
}

.custom-control-label {
  width: 100%;
}

.badge-warning, .badge-success {
  display: none;
}

[data-toggle="collapse"] .fa:before {
  content: "\f107  ";
  margin-right: 5px;
}

[data-toggle="collapse"].collapsed .fa:before {
  content: "\f105  ";
  margin-right: 5px;
}